*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

//navbar css

header{
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.blue{
    color: #428bca;
}

.navbar{
    background-color: white!important;
    .navbar-brand{
        font-size: 40px;
        color: #888888;
        font-weight: bold;
        &:hover{
            color: #888888!important;
        }
        .mobile-icon{
            color: white;
            background-color: #428bca;
            color: white;
            padding: 10px 15px;
            border-radius: 50%;
        }
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-nav{
        gap: 5px;
    }
    .nav-item{
        font-size: 20px;
    }
}

//welcome css

#welcome{
    background-image: url(/assets/images/bigBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-slider{
    margin-top: 150px;
    padding: 100px 0px;
    background-image: url(/assets/images/mobile.png);
    background-repeat: no-repeat;
    position: relative;
    .slider-image{
        position: relative;
        left: 265px;
        top: -20px;
    }
}


.welcome-text{
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    .welcome-title{
        h1{
            color: white;
            font-size: 70px;
            margin-bottom:50px;
        }
    }
    .welcome-desc{
        p{
            font-size: 30px;
            color: white;
            margin-bottom:50px;

        }
    }
    .welcome-button{
        .btn{
            background-color: #5cb85c;
            border:none!important;
            width: 70%;
            padding: 10px 30px;
            i{
                font-size: 60px;
            }
            &:hover{
                background-color: #438843;
            }
        }
        margin-bottom:50px;
    }
}

@media screen and (max-width: 992px){
    .mobile-slider{
        background-repeat: no-repeat;
        .slider-image{
            position: relative;
            top: -20px;
            left: 266px;
        }
    }
}

//features css

.feat-item{
    padding-top: 50px;
    .feat-icon{
        font-size: 50px;
        margin-bottom: 20px;
        i{
            color: white;
            background-color: #428bca;
            padding: 40px;
            border-radius: 50%;
            border: 5px solid #428bca;
            transition-duration: 0.3s;
            &:hover{
                background-color: white;
                color: #428bca;
            }
        }
    }
    .feat-item-title{
        text-align: center;
    }
    .feat-item-desc{
        text-align: center;
    }
    padding-bottom: 50px;
}

//showcase css

#showcase{
    background-color: #f7f7f7;
}

.show-header{
    padding: 50px 0px;
    text-align: center;
    .sh-title{
        font-size: 60px;
        margin-bottom: 10px;
    }
    .sh-desc{
        font-size: 20px;
        margin: 0;
    }
}

.sh-content{
    padding: 30px;
    padding-bottom:50px;
    .sh-item{
        i{
            display: flex;
            align-item:center;
            font-size: 30px;
            color: #428bca;
        }
        margin-bottom: 80px;
        .d-flex{
            gap: 20px;
        }
    }
    .sh-tablet{
        justify-content: end;
    }
    img{
        width: 74%;
    }
}

@media screen and (max-width: 1200px) {
    .sh-content{
        .sh-tablet{
            justify-content: center;
        }
    }
}

//ready start css

.rs-header{
    padding-top: 50px;
    padding-bottom: 30px;
    .rs-header-title{
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }
}

.rs-content{
    padding-bottom: 50px;
}

.rs-item{
    text-align: center;
    .rs-item-wrapper{
        margin-bottom: 20px;
        padding: 30px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
    }
    .rs-item-header{
        h3{
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 20px;
        }
        p{
            color: grey;
        }
        .rs-price{
            color: black;
            font-size: 30px;
            background-color: whitesmoke;
        }
    }
    .rs-item-main{
        p{
            padding: 10px;
            margin-bottom: 5px;
            border-bottom: 1px dotted #d9d9d9;
        }
    }
    .rs-item-button{
        a{
            margin: 30px;
            padding: 10px 70px;
        }
    }
}

.item-blue{
    .rs-item-wrapper{
        background-color: #428bca;
        p{
            color: white;
        }
        h3{
            color: white;
        }
        a{
            background-color: white;
            color: black;
            border: none;
        }
    }
}

//comments

#comments{
    background-color: #f7f7f7;
}

.comments-header{
    padding-top: 30px;
    p{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
}

.comments-slider{
    text-align: center;
    q{
        font-size: 30px;
        color: #858585;
    }
    blockquote{
        margin-top: 20px!important;
        font-size: 20px;
        margin: 0;
    }
    padding-bottom: 50px;
}

//contact us css

.cu-header{
    padding: 30px 0px;
    h2{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
    .cu-desc{
        text-align: center;
        font-size: 25px;
    }
}

.cu-form{
    padding-bottom: 50px;
}

.cu-form-wrapper{
    padding: 0px 200px;
    .form-row{
        gap: 10px;
    }
    .text-area{
        margin: 20px 0px;
        textarea{
            width: 100%;
            height: 100px;
        }
    }
    .form-button{
        display: flex;
        justify-content: center;
        button{
            width: 100%;
        }
    }
}

//footer css

footer{
    background-color: #444444;
}

.licenses{
    padding: 50px 0px;
    text-align: center;
    .copyright{
        color: #dddddd;
    }
    a{
        display: inline-block;
    }
    .footer-links{
        i{
            padding: 10px;
            border-radius: 50%;
            background-color: white;
            font-size: 25px;
            color: #444444;
            transition-duration: 0.1s;
            &:hover{
                background-color: #747474;
            }
        }
        .fa-facebook-f{
            padding-left: 15px!important;
            padding-right: 15px!important;
        }
    }
}



