<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/main.css">
    <title>AppBay</title>
</head>

<body>
    <!--Header start-->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex" href="#">
                        <div>
                            <i class="fa-solid fa-mobile-screen-button mobile-icon"></i>
                        </div>
                        <span class="blue">App</span>Bay
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">The App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Testimonials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle btn btn-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border:none">
                                        <li><a class="dropdown-item" style="cursor:pointer">Profile</a></li>
                                        <li><a class="dropdown-item" style="cursor:pointer">Settings</a></li>
                                        <li><a class="dropdown-item" style="cursor:pointer">Highlights</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary" asp-controller="Account" asp-action="Logout" style="color:white">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary" asp-controller="Account" asp-action="Login" style="color:white">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary" asp-controller="Account" asp-action="Register" style="color:white">Register</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--Header end-->
    @RenderBody()
    <!--Footer start-->
    <footer>
        <div class="container">
            <div class="licenses">
                <p class="copyright">
                    Copyright © 2015 AppBay All Rights Reserved | Built by BootstrapBay
                </p>
                <div class="footer-links">
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer end-->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</body>

</html>
